
@font-face {
  font-family: headerFont;
  src: url(./Fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: tickerFont;
  src: url(./Fonts/digital-7.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: headerFont;
  color: white;
  font-weight: 900;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  display: inline;
  margin:  10px;
  float: right;
}

.title {
  display: inline;
  font-family: headerFont;
  font-size: 50px;
  /* padding-top: 30px; */
}



.main-page {
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

/* MODAL TEST STYLE FOR POPUP */
.modal-div {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  margin: 0 auto;
  z-index: 1; /* Sit on top */
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: rgba(0,0,0,0.4);
  margin: 5% 25%; 
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 50%;
  /* width: 80%; */
}

/* .leaflet-popup-content-wrapper{
  background-color: black;
  color: white;
}

.leaflet-popup-tip-container {
  color: black;
} */

/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  padding-bottom: 20px;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 0px 40px 0px rgba(27, 27, 27);
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}

.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  font-family: tickerFont;
  font-size: xx-large;
  color: white;
  padding: 0 2rem;
}

.ticker-item b{
  color: red;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  overflow: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}

.searchBar {
  padding-left: 20px;
  padding-bottom: 10px;
   /* position: relative;
    top: 50%;
    left: 90%; 
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    */
}
/*
.searchInput {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px; }

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.searchBar:hover{
  width: 200px;
  cursor: pointer;
}

.searchInput:hover {
  display: block;
}

.searchBar:hover .fa{
  background: #07051a ;
  color: white;
} */